<html>
    <style type="text/css">
        td, th {border: 2px solid #000000; text-align: center; padding: 8px;}
    </style>
    <head>
        <title>{{title}}</title>
    </head>
    <body>
        <h1>{{judul}}</h1>
        <hr>
        <p>Selamat datang di {{pageName}} dengan kontributor {{kontributor}}</p>  
        <h4>Data Mahasiswa</h4>      
        <table>
            <tr>
                <th>NIM</th>
                <th>Nama Mahasiswa</th>
                <th>Program Studi</th>
            </tr>
            {% for mhs in mahasiswas %}
            <tr>
                <td>{{mhs.nim}}</td>                
                <td>{{mhs.nama}}</td>                
                <td>{{mhs.ps}}</td>                
            </tr>
            {% endfor %}
        </table>
        <p><a href="/">Kembali ke Beranda</a></p>
    </body>
</html>